<p>Upload an image and click "create" to glitchify it.</p>

<%= form_for @image, url: {action: "create"} do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "Create" %>
<% end %>

<% if base64 = @image.base64 %>
  <img style="display: none;" id="source" src="data:<%= @image.content_type %>;base64,<%= base64 %>"/>

  <canvas id="canvas" width="<%= @image.width %>" height="<%= @image.height %>">
  </canvas>
<% end %>
